/**
 * This file contains styles for the editor and frontend
 *
 * @package Variations
 *
 */

/*
 * Common rules.
 */

.wp-site-blocks>*+* {
    margin-block-start: 0 !important;
}

/* .has-background padding:unset */
body .has-background {
    padding: unset;
}

/*
 * Core blocks customization.
 */

/* block: "core/group" */
body header.wp-block-template-part:has( + div .wp-block-cover:first-child) .is-position-sticky,
body header.wp-block-template-part:has( + .wp-block-cover) .is-position-sticky {
    position: absolute;
    width: 100%;
    z-index: 2;
}